API_PORT=3001
CLIENT_ORIGIN=http://localhost:5173,http://localhost:5174
POCKETBASE_URL=https://nexasystems.pockethost.io
POCKETBASE_PROXY_TARGET=https://nexasystems.pockethost.io
DEFAULT_CASHIER_PASSWORD=cashier123

POCKETBASE_SUPERUSER_EMAIL=admin@email.com
POCKETBASE_SUPERUSER_PASSWORD=admin123

VITE_API_URL=
VITE_SUPPORT_EMAIL=nexasystems6@gmail.com
VITE_SUPPORT_PHONE=+63 900 000 0000
